/* contacto/contactoSeccion.css */

.contacto form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
}

.contacto input,
.contacto textarea {
    margin-bottom: 1rem;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}