.section-catalogo {
    max-width: 100rem;
    padding: 2rem;
    margin: auto;
}
.section-catalogo > h2 {
    font-size: var(--size-h2);
}
.catalogo {
    margin-top: 2rem;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    max-width: 100rem;
}